image: ubuntu

init:
- appveyor version

build: off
test_script:
- sh: bash pac.sh
- sh: |
    if set -o |grep -Pq 'xtrace\s+off'; then
      set -x
      STATUS=OFF
    else
      set +x
      STATUS=ON
    fi
- sh: |
    RED='\033[0;31m'
    NC='\033[0m'
    if [ "$STATUS" = "OFF" ] && set -o |grep -Pq 'xtrace\s+on'; then
      echo -e "${RED}Bash builtins survive between command calls!${NC}"
      return 1
    fi
    if [ "$STATUS" = "ON" ] && set -o |grep -Pq 'xtrace\s+off'; then
      echo -e "${RED}Bash builtins survive between command calls!${NC}"
      return 1
    fi
    
